In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# import libraries for plotting
import matplotlib.pyplot as plt
import seaborn as sns
# from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '{:,.2f}'.format
RANDOM_STATE = 42
from datetime import date

In [ ]:
###Products

In [1]:
df_products = pd.read_csv('products_df.csv')

NameError: name 'pd' is not defined

In [ ]:
df_products.head().T

In [2]:
df_products.info(verbose=True)

NameError: name 'df_products' is not defined

In [3]:
df_products['pk_cid'].value_counts()

NameError: name 'df_products' is not defined

In [4]:
df_products['pk_partition'].value_counts()

NameError: name 'df_products' is not defined

In [5]:
columnas= df_products

NameError: name 'df_products' is not defined

In [6]:
for i in columnas:
    print('\n',i,df_products[i].unique(),'\n')

NameError: name 'columnas' is not defined

In [ ]:
###Sociodemographic

In [7]:
df_socio=df_products = pd.read_csv('sociodemographic_df.csv')

NameError: name 'pd' is not defined

In [10]:
df_socio.head().T

                       0           1           2           3           4
Unnamed: 0             0           1           2           3           4
pk_cid           1375586     1050611     1050612     1050613     1050614
pk_partition  2018-01-28  2018-01-28  2018-01-28  2018-01-28  2018-01-28
country_id            ES          ES          ES          ES          ES
region_code        29.00       13.00       13.00       50.00       50.00
gender                 H           V           V           H           V
age                   35          23          23          22          23
deceased               N           N           N           N           N
salary         87,218.10   35,548.74  122,179.11  119,775.54         NaN

In [11]:
df_socio.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   pk_cid        int64
 2   pk_partition  object
 3   country_id    object
 4   region_code   float64
 5   gender        object
 6   age           int64
 7   deceased      object
 8   salary        float64
dtypes: float64(2), int64(3), object(4)
memory usage: 409.4+ MB

In [12]:
columnas= df_socio

In [13]:
for i in columnas:
    print('\n',i,df_socio[i].unique(),'\n')

 Unnamed: 0 [       0        1        2 ... 13647306 13647307 13647308]


 pk_cid [1375586 1050611 1050612 ... 1173729 1164094 1550586]


 pk_partition ['2018-01-28' '2018-02-28' '2018-03-28' '2018-04-28' '2018-05-28'
 '2018-06-28' '2018-07-28' '2018-08-28' '2018-09-28' '2018-10-28'
 '2018-11-28' '2018-12-28' '2019-01-28' '2019-02-28' '2019-03-28'
 '2019-04-28' '2019-05-28']


 country_id ['ES' 'CA' 'CH' 'CL' 'IE' 'AT' 'FR' 'GB' 'DE' 'DO' 'BE' 'AR' 'VE' 'US'
 'MX' 'PL' 'MA' 'GT' 'GA' 'CO' 'BR' 'RU' 'IT' 'NO' 'SN' 'MR' 'ET' 'CN'
 'CM' 'SA' 'CI' 'QA' 'LU' 'SE' 'DJ' 'PT' 'JM' 'RO' 'HU' 'DZ' 'PE']


 region_code [29. 13. 50. 45. 24. 20. 10. 17. 49.  8. 37.  9. 22. 31.  5. 40. 27. 25.
 28.  3. 42. 41. 39.  7. 47. 36. 46. 44. 15. 32. 23. 16. 48. 12. 26.  2.
  6. 30. 11.  4. 19. 34. 35. 14. 21. 18. 33. 38. 52. 43.  1. nan 51.]


 gender ['H' 'V' nan]


 age [ 35  23  22  24  65  28  25  26  53  27  32  37  31  39  63  33  55  42
  58  38  50  30  45  44  36  29  60  57  67  47  34  48  46  54  84  15
  12   8   6  83  40  77  69  52  59  43  10   9  49  41  51  78  16  11
  73  62  66  17  68  82  95  96  56  61  79  72  14  19  13  86  64  20
  89  71   7  70  74  21  18  75   4  80  81   5  76  92  93  85  91  87
  90  94  99  98  88  97 100 101   3   2 102 104 103 105]


 deceased ['N' 'S']


 salary [ 87218.1   35548.74 122179.11 ...  63867.66  34341.18  89018.37]

In [14]:
df_socio['pk_cid'].value_counts()

896586     17
1293253    17
1194997    17
1186801    17
1335662    17
           ..
1552970     1
1544782     1
1540166     1
1548557     1
1542575     1
Name: pk_cid, Length: 456373, dtype: int64

In [ ]:
##Actividad comercial

In [15]:
df_sales=df_products = pd.read_csv('commercial_activity_df.csv')

In [16]:
df_sales.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
pk_cid,1375586,1050611,1050612,1050613,1050614
pk_partition,2018-01-28,2018-01-28,2018-01-28,2018-01-28,2018-01-28
entry_date,2018-01-12,2015-08-10,2015-08-10,2015-08-10,2015-08-10
entry_channel,KHL,KHE,KHE,KHD,KHE
active_customer,1.00,0.00,0.00,0.00,1.00
segment,02 - PARTICULARES,03 - UNIVERSITARIO,03 - UNIVERSITARIO,03 - UNIVERSITARIO,03 - UNIVERSITARIO

In [17]:
df_sales.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

In [18]:
columnas= df_sales

In [19]:
for i in columnas:
    print('\n',i,df_sales[i].unique(),'\n')

 Unnamed: 0 [       0        1        2 ... 13647306 13647307 13647308]


 pk_cid [1375586 1050611 1050612 ... 1173729 1164094 1550586]


 pk_partition ['2018-01-28' '2018-02-28' '2018-03-28' '2018-04-28' '2018-05-28'
 '2018-06-28' '2018-07-28' '2018-08-28' '2018-09-28' '2018-10-28'
 '2018-11-28' '2018-12-28' '2019-01-28' '2019-02-28' '2019-03-28'
 '2019-04-28' '2019-05-28']


 entry_date ['2018-01-12' '2015-08-10' '2015-08-16' ... '2019-05-25' '2019-05-01'
 '2019-05-15']


 entry_channel ['KHL' 'KHE' 'KHD' 'KFA' 'KFC' 'KAT' 'KAZ' 'RED' 'KHC' 'KHK' 'KGN' 'KHM'
 'KHO' 'KDH' 'KEH' 'KAD' 'KBG' nan 'KGC' 'KHF' 'KFK' 'KHN' 'KAB' 'KAG'
 'KAA' 'KGX' 'KAR' 'KAK' 'KBZ' '007' 'KBO' 'KCB' '013' 'KAY' 'KBE' 'KAS'
 'KCL' '004' 'KAF' 'KCC' 'KEY' 'KDT' 'KAQ' 'KAH' 'KAM' 'KAJ' 'KFD' 'KCH'
 'KFS' 'KAW' 'KAE' 'KBH' 'KDR' 'KHQ' 'KBW' 'KBY' 'KCI' 'KEJ' 'KFF' 'KBU'
 'KAI' 'KCK' 'KDA' 'KES' 'KHP' 'KFL' 'KDS' 'KFP' 'KHS']


 active_customer [1. 0.]


 segment ['02 - PARTICULARES' '03 - UNIVERSITARIO' '01 - TOP' nan]

In [20]:
df_sales['pk_cid'].value_counts()

896586     17
1293253    17
1194997    17
1186801    17
1335662    17
           ..
1552970     1
1544782     1
1540166     1
1548557     1
1542575     1
Name: pk_cid, Length: 456373, dtype: int64

In [ ]:
###Viendo el valor, que adopta cada variable, es posible que haya outliers en el salary

In [ ]:
####Como las 3 bases de datos, incluyen la misma informacion, en tamaño y contenido ,tanto del pk_cid (es el id de cada
### cliente) y del pk_partition, vamos a trabajar con un dataset que incluya , las 3 bases de datos facilitadas, para 
###poder realizar un analisis más eficiente. A posteriori, cambiaremos el pk_partition y el entry_date, que son un date,
###a un formato,Datetime

In [17]:
df_products = pd.read_csv('products_df.csv')
df_socio = pd.read_csv('sociodemographic_df.csv')
df_sales = pd.read_csv('commercial_activity_df.csv')

In [72]:

df_socio.head().T

                       0           1           2           3           4
Unnamed: 0             0           1           2           3           4
pk_cid           1375586     1050611     1050612     1050613     1050614
pk_partition  2018-01-28  2018-01-28  2018-01-28  2018-01-28  2018-01-28
country_id            ES          ES          ES          ES          ES
region_code        29.00       13.00       13.00       50.00       50.00
gender                 H           V           V           H           V
age                   35          23          23          22          23
deceased               N           N           N           N           N
salary         87,218.10   35,548.74  122,179.11  119,775.54         NaN

In [ ]:
df_socio.info()

In [73]:
df_socio.describe()

         Unnamed: 0       pk_cid  region_code          age        salary
count  5,962,924.00 5,962,924.00 5,960,660.00 5,962,924.00  4,450,821.00
mean   7,155,425.01 1,234,929.80        25.81        29.76    115,816.72
std    3,920,784.28   162,302.04        13.60        11.98    199,551.89
min            0.00    15,891.00         1.00         2.00      1,202.73
25%    4,240,385.75 1,112,532.00        13.00        22.00     61,500.63
50%    7,499,346.50 1,231,097.00        28.00        25.00     88,654.65
75%   10,201,422.25 1,352,339.00        36.00        34.00    131,669.91
max   13,647,308.00 1,553,689.00        52.00       105.00 28,894,395.51

In [ ]:
df_socio['region_code'].value_counts()

In [ ]:
df_socio['pk_partition'].value_counts()

In [ ]:
df_socio['gender'].value_counts()

In [ ]:
len(df_socio[(df_socio.salary >= 5000000)])

In [ ]:
len(df_socio[(df_socio.salary <= 10000)])

In [ ]:
df_socio['deceased'].value_counts()

In [ ]:
df_socio['gender'].value_counts()

In [ ]:
df_socio['age'].describe()

In [ ]:
df_socio['country_id'].value_counts()

In [ ]:
df_socio['age'].value_counts()

In [ ]:
df_socio['pk_cid'].value_counts()

In [3]:
df_socio['region_code'].fillna(value='nada', inplace=True)
df_socio = df_socio[df_socio['region_code'] != 'nada']
df_socio['pk_partition'] = pd.to_datetime(df_socio['pk_partition'])
df_socio['gender'] = (df_socio['gender']=='H').astype(int)
df_socio['salary'] = df_socio['salary'][df_socio.salary < 5000000]

In [4]:
df_socio['salary'] = df_socio['salary'][df_socio.salary > 10000]

In [5]:
df_socio['salary'].fillna(value='nada', inplace=True)
df_socio = df_socio[df_socio['salary'] != 'nada']
df_socio['salary'] = df_socio['salary'].astype(int)
df_socio['region_code'] = df_socio['region_code'].astype(int)
df_socio.drop("country_id", axis=1, inplace=True)
df_socio.drop("Unnamed: 0", axis=1, inplace=True)
df_socio.drop("deceased", axis=1, inplace=True)
df_socio['age'] = df_socio['age'][df_socio.age > 17]
df_socio['age'] = df_socio['age'][df_socio.age < 99]
df_socio['age'].fillna(value='nada', inplace=True)
df_socio = df_socio[df_socio['age'] != 'nada']
df_socio['age'] = df_socio['age'].astype(int)

In [6]:


def set_other(Serie, num_values):
    top_categories = Serie.value_counts().head(num_values)
    top_categories_list = top_categories.index.to_list()
    top_categories_list.append('Others')
    Serie = pd.Categorical(Serie, categories=top_categories_list).fillna('Others')
    return Serie

In [4]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

In [5]:
df_products['payroll'].value_counts()

0.00    5757076
1.00     205787
Name: payroll, dtype: int64

In [6]:
df_products['pension_plan'].value_counts()

0.00    5745061
1.00     217802
Name: pension_plan, dtype: int64

In [7]:
df_products['pk_partition'].value_counts()

2019-05-28    442995
2019-04-28    439627
2019-03-28    436183
2019-02-28    431727
2019-01-28    426875
2018-12-28    422481
2018-11-28    416387
2018-10-28    402300
2018-09-28    375323
2018-08-28    352922
2018-07-28    339339
2018-06-28    252104
2018-05-28    249926
2018-04-28    247463
2018-03-28    245258
2018-02-28    242521
2018-01-28    239493
Name: pk_partition, dtype: int64

In [7]:
df_products[df_products['pk_partition'] == '2018-01-28'].describe().T
df_products[df_products['pk_partition'] == '2019-05-28'].describe().T
df_products['pk_partition'] = pd.to_datetime(df_products['pk_partition'])
df_products.drop("loans", axis=1, inplace=True)
df_products.drop("mortgage", axis=1, inplace=True)
df_products.drop("em_account_pp", axis=1, inplace=True)
df_products.drop("em_account_p", axis=1, inplace=True)
df_products['payroll'] = (df_products['payroll']==1.00).astype(int)
df_products['pension_plan'] = (df_products['pension_plan']==1.00).astype(int)

In [9]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

In [10]:
df_sales['entry_channel'].value_counts()

KHE    3113947
KFC     890620
KHQ     590280
KAT     416084
KHK     230197
KHM     176591
KHN     108434
KFA      79020
KHD      75899
RED      60601
KHL      41736
KHF      20657
KHO       8247
KAZ       5635
KHC       5241
KBG       1662
KEH        728
KHP        691
007        613
013        397
KAG        335
KAS        305
KBZ        198
KAA        193
KAR        157
KAY        149
KAF        123
KAB         95
KFD         91
KCC         89
KAW         65
KAQ         52
KDH         51
KCH         48
KAE         48
KCB         47
KAD         45
KAM         43
KAH         40
KAK         34
KAJ         33
KDT         23
KFF         22
KBO         21
KEY         20
KCL         17
KGN         17
KBE         17
KBH         17
KFS         17
KGC         17
KFK         17
KCI         17
KGX         17
004         17
KDR         16
KFL         13
KBW         12
KAI         11
KBU         11
KES         11
KCK         11
KBY         11
KEJ          8
KHS          5
KDA          2
KFP          2
KDS          1
Name: entry_channel, dtype: int64

In [11]:
df_sales['active_customer'].value_counts()

0.00    3557573
1.00    2405351
Name: active_customer, dtype: int64

In [12]:
df_sales['segment'].value_counts()

03 - UNIVERSITARIO    3900166
02 - PARTICULARES     1830875
01 - TOP                97939
Name: segment, dtype: int64

In [8]:
df_sales.drop("Unnamed: 0", axis=1, inplace=True)
df_sales['pk_partition'] = pd.to_datetime(df_sales['pk_partition'])
df_sales = df_sales[df_sales['entry_date'] != '2015-02-29']
df_sales = df_sales[df_sales['entry_date'] != '2019-02-29']
df_sales['entry_date'] = pd.to_datetime(df_sales['entry_date'])

In [9]:
df_sales['entry_channel'] = set_other(df_sales['entry_channel'], 16)

In [10]:
_dummy_dataset = pd.get_dummies(df_sales['entry_channel'], prefix='entry_channel')
df_sales = pd.concat([df_sales,_dummy_dataset],axis=1)

In [11]:
df_sales.drop(['entry_channel'],axis=1, inplace=True)
df_sales['active_customer'] = (df_sales['active_customer']==1.00).astype(int)
_dummy_dataset = pd.get_dummies(df_sales['segment'], prefix='segment')
df_sales = pd.concat([df_sales,_dummy_dataset],axis=1)

In [12]:
df_sales.drop(['segment'],axis=1, inplace=True)

In [20]:
df_sales.isnull().sum()

pk_cid                        0
pk_partition                  0
entry_date                    0
active_customer               0
entry_channel_KHE             0
entry_channel_KFC             0
entry_channel_KHQ             0
entry_channel_KAT             0
entry_channel_KHK             0
entry_channel_KHM             0
entry_channel_KHN             0
entry_channel_KFA             0
entry_channel_KHD             0
entry_channel_RED             0
entry_channel_KHL             0
entry_channel_KHF             0
entry_channel_KHO             0
entry_channel_KAZ             0
entry_channel_KHC             0
entry_channel_KBG             0
entry_channel_Others          0
segment_01 - TOP              0
segment_02 - PARTICULARES     0
segment_03 - UNIVERSITARIO    0
dtype: int64

In [21]:
df_products.isnull().sum()

Unnamed: 0            0
pk_cid                0
pk_partition          0
short_term_deposit    0
funds                 0
securities            0
long_term_deposit     0
credit_card           0
payroll               0
pension_plan          0
payroll_account       0
emc_account           0
debit_card            0
em_acount             0
dtype: int64

In [22]:
df_socio.isnull().sum()

Unnamed: 0            0
pk_cid                0
pk_partition          0
country_id            0
region_code        2264
gender               25
age                   0
deceased              0
salary          1512103
dtype: int64

In [13]:
mergedf = pd.merge(df_products, df_socio, on = ["pk_cid","pk_partition"],how ="inner")

In [14]:
mergedf = pd.merge(mergedf, df_sales, on = ["pk_cid","pk_partition"],how ="inner")

In [28]:
mergedf.isnull().sum()

Unnamed: 0            0
pk_cid                0
pk_partition          0
short_term_deposit    0
funds                 0
securities            0
long_term_deposit     0
credit_card           0
payroll               0
pension_plan          0
payroll_account       0
emc_account           0
debit_card            0
em_acount             0
region_code           0
gender                0
age                   0
salary                0
dtype: int64

In [135]:

mergedf.head(5).T

,0,1,2,3,4
pk_cid,1375586,1050611,1050612,1050613,1050615
pk_partition,2018-01-28 00:00:00,2018-01-28 00:00:00,2018-01-28 00:00:00,2018-01-28 00:00:00,2018-01-28 00:00:00
short_term_deposit,0,0,0,1,0
funds,0,0,0,0,0
securities,0,0,0,0,0
long_term_deposit,0,0,0,0,0
credit_card,0,0,0,0,0
payroll,0,0,0,0,0
pension_plan,0,0,0,0,0
payroll_account,0,0,0,0,0
emc_account,0,0,0,0,0
debit_card,0,0,0,0,0
em_acount,1,1,1,0,1
region_code,29,13,13,50,45
gender,1,0,0,1,1
age,35,23,23,22,23
salary,87218,35548,122179,119775,22220
entry_date,2018-01-12 00:00:00,2015-08-10 00:00:00,2015-08-10 00:00:00,2015-08-10 00:00:00,2015-08-10 00:00:00
active_customer,1,0,0,0,0
entry_channel_KHE,0,1,1,0,1
entry_channel_KFC,0,0,0,0,0
entry_channel_KHQ,0,0,0,0,0
entry_channel_KAT,0,0,0,0,0
entry_channel_KHK,0,0,0,0,0
entry_channel_KHM,0,0,0,0,0
entry_channel_KHN,0,0,0,0,0
entry_channel_KFA,0,0,0,0,0
entry_channel_KHD,0,0,0,1,0
entry_channel_RED,0,0,0,0,0
entry_channel_KHL,1,0,0,0,0
entry_channel_KHF,0,0,0,0,0
entry_channel_KHO,0,0,0,0,0
entry_channel_KAZ,0,0,0,0,0
entry_channel_KHC,0,0,0,0,0
entry_channel_KBG,0,0,0,0,0
entry_channel_Others,0,0,0,0,0
segment_01 - TOP,0,0,0,0,0
segment_02 - PARTICULARES,1,0,0,0,0
segment_03 - UNIVERSITARIO,0,1,1,1,1

In [15]:
test = mergedf.sample(5)

In [16]:

for i, row in enumerate(test.values):
        print(row)
        print(i)

[7743716 1151981 Timestamp('2018-11-28 00:00:00') 0 0 0 0 0 0 0 0 0 0 1 8
 1 22 518930 Timestamp('2016-07-31 00:00:00') 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1]
0
[10690815 1137977 Timestamp('2019-02-28 00:00:00') 0 0 0 0 0 0 0 0 0 0 0 8
 0 45 475430 Timestamp('2016-06-20 00:00:00') 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0]
1
[9375579 1177253 Timestamp('2019-01-28 00:00:00') 0 0 0 0 0 0 0 0 0 0 1 28
 1 22 211853 Timestamp('2016-09-17 00:00:00') 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1]
2
[1850373 1047443 Timestamp('2018-03-28 00:00:00') 0 0 0 0 0 0 0 0 0 0 1 14
 0 25 170625 Timestamp('2015-08-08 00:00:00') 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1]
3
[9031519 1430537 Timestamp('2019-01-28 00:00:00') 0 0 0 0 0 0 0 0 0 0 1 47
 1 20 89048 Timestamp('2018-08-06 00:00:00') 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1]
4

In [ ]:
for x in mergedf['pk_cid'].value_counts():
    if(x > 15):
        print('8')
        mergedf['TARGET']=8 
        continue
    if(x > 13):
        print('7')
        continue
    if(x > 11):
        print('6')
        continue
    if(x > 9):
        print('5')
        continue
    if(x > 7):
        print('4')
        continue
    if(x > 5):
        print('3')
        continue
    if(x > 3):
        print('2')
        continue
    if(x > 1):
        print('1')
        continue