In [1]:
##Analisis region code

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
df=pd.read_csv('C:/Users/evive/Downloads/Nico y Juan/easyMoney/df_banc_rev.csv')

In [4]:
df_d= df.sample(n=600000, random_state=42)

In [5]:
df_d_region_code_unidades_vendidas = df_d.groupby('region_code')['unidades_vendidas_total'].sum().reset_index()

In [6]:
df_d_region_code_unidades_vendidas.sort_values(by = ["unidades_vendidas_total"], ascending = False, inplace = True)

In [7]:
df_d_region_code_unidades_vendidas

    region_code  unidades_vendidas_total
27         28.0                 129704.0
7           8.0                  56065.0
45         46.0                  38870.0
40         41.0                  31682.0
29         30.0                  30464.0
14         15.0                  26248.0
28         29.0                  20694.0
2           3.0                  19476.0
35         36.0                  18450.0
10         11.0                  17016.0
32         33.0                  14563.0
49         50.0                  13942.0
34         35.0                  13914.0
46         47.0                  12687.0
5           6.0                  12191.0
17         18.0                  10669.0
44         45.0                  10446.0
36         37.0                   9939.0
9          10.0                   8436.0
38         39.0                   8257.0
13         14.0                   8071.0
1           2.0                   7650.0
11         12.0                   7581.0
20         21.0                   7507.0
12         13.0                   7225.0
6           7.0                   6830.0
31         32.0                   5732.0
26         27.0                   5333.0
8           9.0                   5227.0
42         43.0                   5003.0
16         17.0                   4670.0
24         25.0                   4424.0
47         48.0                   4199.0
23         24.0                   4095.0
3           4.0                   3887.0
15         16.0                   3665.0
22         23.0                   3604.0
25         26.0                   3591.0
37         38.0                   3359.0
48         49.0                   3219.0
30         31.0                   3136.0
33         34.0                   2981.0
18         19.0                   2331.0
4           5.0                   2284.0
39         40.0                   2274.0
19         20.0                   2271.0
21         22.0                   2178.0
0           1.0                   1507.0
43         44.0                   1273.0
41         42.0                    928.0
50         51.0                    355.0
51         52.0                    257.0

In [8]:
df_d_region_code_revenue = df_d.groupby('region_code')['revenue_total'].sum().reset_index()

In [9]:
df_d_region_code_revenue.sort_values(by = ["revenue_total"], ascending = False, inplace = True)

In [10]:
df_d_region_code_revenue

    region_code  revenue_total
27         28.0      2730200.0
7           8.0       893550.0
45         46.0       638390.0
40         41.0       526100.0
29         30.0       429530.0
14         15.0       371060.0
2           3.0       352340.0
28         29.0       343100.0
10         11.0       269040.0
35         36.0       268650.0
34         35.0       237140.0
32         33.0       223180.0
49         50.0       205930.0
46         47.0       195820.0
17         18.0       182260.0
5           6.0       166800.0
44         45.0       166640.0
38         39.0       147780.0
36         37.0       142460.0
13         14.0       127010.0
6           7.0       124620.0
11         12.0       123510.0
1           2.0       112550.0
9          10.0       111820.0
20         21.0       109440.0
12         13.0       108960.0
8           9.0        86680.0
31         32.0        82860.0
47         48.0        82760.0
42         43.0        80030.0
3           4.0        78170.0
23         24.0        75270.0
37         38.0        73420.0
26         27.0        73370.0
16         17.0        70380.0
22         23.0        70090.0
24         25.0        58150.0
25         26.0        53340.0
30         31.0        49090.0
15         16.0        48280.0
48         49.0        47960.0
18         19.0        47610.0
19         20.0        45150.0
33         34.0        44860.0
39         40.0        38090.0
4           5.0        37320.0
21         22.0        32050.0
0           1.0        28170.0
43         44.0        16050.0
41         42.0        15150.0
50         51.0         7200.0
51         52.0         4610.0